body {
  background-image: radial-gradient(#0e2038, #213a5c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%;
  text-align: left;
}

.navbar {
  border: 3px solid #3b63db99;
  background-color: #3b63db99;
  border-style: outset;
  align-items: center;
  border-radius: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: hidden;
}

.navbar a {
  border: 3px solid #5480f7;
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  position: sticky;
  user-select: none;
}
.navbar a:hover {
  border: 3px solid #5480f7;
  background-color: #3b63dbff;
  font-size: 32px;
}

.container {
  border: 3px solid #3b63db99;
  background-color: #3b63db99;
  border-style: outset;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  max-width: 2048px;
  margin: auto;
  margin-top: 96px;
}

h1 {
  font-family: 'Audiowide';
  font-size: 60px;
  letter-spacing: 3px;
  color: #fff;
/* text-shadow: -3px 0px #00ff00, 3px 0px #ff0000;*/
  text-align: left;
}
